@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .container {
    @apply mx-auto px-[15px];
  }

  .element-center {
    @apply flex justify-center items-center;
  }

  .btn {
    @apply element-center bg-secColor hover:bg-hoverColor font-semibold rounded-[30px] transition-all duration-300;
  }

  .space {
    @apply pb-[80px];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #191d2b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
